<a href="https://colab.research.google.com/github/Mrcl3/O6EQTwpkNwvulbOa/blob/master/talent_search_with_embeddings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [197]:
!pip install unidecode
!pip install gensim
!pip install transformers
!pip install sentence-transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim in /usr/local/lib/python3.10/dist-packages (4.3.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim) (6.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.29.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.15.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (4.29.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (4.65.0)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (2.0.1+cu118)
Requirement already satisfied: torchvision in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.15.2+cu118)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.22.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.10.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (3.8.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.1.99)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.15.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.12.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2023.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.27.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.5.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (23.1)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->sentence-transformers) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->sentence-transformers) (16.0.5)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.10.31)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.3)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision->sentence-transformers) (8.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->sentence-transformers) (2.1.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.4)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->sentence-transformers) (1.3.0)

In [198]:
import numpy as np
import pandas as pd
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from unidecode import unidecode
import string
from nltk.stem import WordNetLemmatizer
from gensim.models import Word2Vec
from sentence_transformers import SentenceTransformer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## Read the data

In [199]:
df = pd.read_csv('/content/drive/MyDrive/Aprziva/O6EQTwpkNwvulbOa/potential-talents - Aspiring human resources - seeking human resources.csv')

## Define the sentence to be checked

# Preprocessing

In [200]:
df.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [201]:
df = df.drop_duplicates(subset=['job_title', 'location', 'connection']).reset_index(drop=True)
df.tail(55)

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,NaN
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN
8,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN
9,11,Student at Chapman University,"Lake Forest, California",2,NaN
10,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN
11,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN
12,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN
13,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN
14,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,NaN
15,67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,NaN
16,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,NaN
17,69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,NaN
18,70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,NaN
19,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,NaN
20,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,NaN
21,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,NaN
22,74,Human Resources Professional,Greater Boston Area,16,NaN
23,75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,NaN
24,76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,NaN
25,77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,NaN
26,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,NaN
27,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,NaN
28,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,NaN
29,81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,NaN
30,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,NaN
31,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,NaN
32,84,Human Resources professional for the world lea...,"Highland, California",50,NaN
33,85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,NaN
34,86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,NaN
35,87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,NaN
36,88,Human Resources Management Major,"Milpitas, California",18,NaN
37,89,Director Human Resources at EY,Greater Atlanta Area,349,NaN
38,90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,NaN
39,91,Lead Official at Western Illinois University,Greater Chicago Area,39,NaN
40,92,Seeking employment opportunities within Custom...,"Torrance, California",64,NaN
41,93,Admissions Representative at Community medical...,"Long Beach, California",9,NaN
42,94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,NaN
43,95,Student at Westfield State University,"Bridgewater, Massachusetts",57,NaN
44,96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,NaN
45,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,NaN
46,98,Student,"Houston, Texas Area",4,NaN
47,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN
48,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN
49,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN
50,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN
51,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN
52,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN

In [202]:
df.shape

(53, 5)

In [203]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from unidecode import unidecode

def preprocess(sentence):
    # Converting the words to lowercase
    sentence = sentence.lower()
    
    # Collecting a list of stop words from nltk and punctuation from the string class
    stopset = stopwords.words('english') + list(string.punctuation)
    
    # Remove stop words and punctuations from the string
    words = word_tokenize(sentence)
    words = [i for i in words if i.lower() not in stopset and not any(char in string.punctuation for char in i)]
    new_sentence = " ".join(words)
    
    # Remove non-ASCII characters
    new_sentence = unidecode(new_sentence)
    
    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    words = word_tokenize(new_sentence)
    words = [lemmatizer.lemmatize(word) for word in words]
    
    return " ".join(words)

In [204]:
df['job_title'] = df['job_title'].apply(preprocess)

In [205]:
df['job_title']

0     2019 bauer college business graduate magna cum...
1     native english teacher epik english program korea
2                  aspiring human resource professional
3                   people development coordinator ryan
4          advisory board member celal bayar university
5                    aspiring human resource specialist
6     student humber college aspiring human resource...
7                                  hr senior specialist
8       seeking human resource hris generalist position
9                            student chapman university
10    svp chro marketing communication csr officer e...
11    human resource coordinator intercontinental bu...
12    aspiring human resource management student see...
13                   seeking human resource opportunity
14    experienced retail manager aspiring human reso...
15      human resource staffing recruiting professional
16                  human resource specialist luxottica
17    director human resource north america groupe b...
18    retired army national guard recruiter office m...
19            human resource generalist scottmadden inc
20    business management major aspiring human resou...
21    aspiring human resource manager seeking intern...
22                          human resource professional
23    nortia staffing seeking human resource payroll...
24    aspiring human resource professional passionat...
25                   human conflict policy compensation
26                     human resource generalist schwan
27    liberal art major aspiring human resource analyst
28                         junior me information system
29    senior human resource business partner heil en...
30    aspiring human resource professional energetic...
31               hr manager endemol shine north america
32    human resource professional world leader gi so...
33    rrp brand portfolio executive jti japan tobacc...
34    information system specialist programmer love ...
35    bachelor science biology victoria university w...
36                      human resource management major
37                           director human resource ey
38      undergraduate research assistant styczynski lab
39            lead official western illinois university
40    seeking employment opportunity within customer...
41    admission representative community medical cen...
42    seeking human resource opportunity open travel...
43                   student westfield state university
44    student indiana university kokomo business man...
45                 aspiring human resource professional
46                                              student
47                      seeking human resource position
48    aspiring human resource manager graduating may...
49                    human resource generalist loparex
50             business intelligence analytics traveler
51                                   always set success
52           director administration excellence logging
Name: job_title, dtype: object

# Word2Vec model

In [206]:
sentences = []
for item in df['job_title'].values:
  # Tokenize the sentence into a list of words
  words = nltk.word_tokenize(item)
    
  # Add the list of words to the sentences list
  sentences.append(words)
  model= Word2Vec(sentences,min_count=1,vector_size=300,workers=4)

In [207]:
print(model)

Word2Vec<vocab=172, vector_size=300, alpha=0.025>

In [208]:
model.save("word2vec.model")
model.save("model.bin")

In [209]:
model = Word2Vec.load('model.bin')

# Using the model to calculate similarities

In [210]:
similarity_array = []
# Define two example sentences
sentence2 = "aspiring human resources"
for item in df['job_title'].values:
  # Tokenize the sentences into lists of words
  tokens1 = nltk.word_tokenize(item)
  tokens2 = nltk.word_tokenize(sentence2)

  # Calculate the similarity between the two sentences
  similarity = model.wv.n_similarity(tokens1, tokens2)
  similarity_array.append(similarity)
df['similarities'] = similarity_array

In [211]:
df.tail(5)

,id,job_title,location,connection,fit,similarities
48,100,aspiring human resource manager graduating may...,"Cape Girardeau, Missouri",103,NaN,0.564992
49,101,human resource generalist loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,0.395508
50,102,business intelligence analytics traveler,Greater New York City Area,49,NaN,0.009410
51,103,always set success,Greater Los Angeles Area,500+,NaN,-0.001944
52,104,director administration excellence logging,"Katy, Texas",500+,NaN,0.092985

# Basic fit ranking (similarities + connection scaled to (0,1)

In [212]:
from sklearn.preprocessing import MinMaxScaler

#Select the input features for ranking
features = ['similarities', 'connection']

# Replace '500+' with 500 in the 'connections' column
df['connection'] = df['connection'].replace('500+ ', '500')

df['connection'] = pd.to_numeric(df['connection'])
print(df['connection'])
# Scale the 'connections' column to a range of 0 to 1
scaler = MinMaxScaler()
df['connection'] = scaler.fit_transform(df['connection'].values.reshape(-1, 1))

# Normalize the remaining features to a range of 0 to 1
df[features] = scaler.fit_transform(df[features])

# Calculate the ranking score
df['ranking'] = 0.8*df['similarities'] * 0.2*df['connection']

# Normalize the ranking score to a range of 0 to 1
df['ranking'] = scaler.fit_transform(df['ranking'].values.reshape(-1, 1))

# Print the ranked candidates
print(df[['job_title', 'ranking']])

0      85
1     500
2      44
3     500
4     500
5       1
6      61
7     500
8     500
9       2
10    500
11    500
12    500
13    390
14     57
15    500
16    500
17    500
18     82
19    500
20      5
21      7
22     16
23    500
24    212
25    409
26    500
27      7
28     52
29    455
30    174
31    268
32     50
33    500
34      4
35     40
36     18
37    349
38    155
39     39
40     64
41      9
42    415
43     57
44     19
45     71
46      4
47     48
48    103
49    500
50     49
51    500
52    500
Name: connection, dtype: int64
                                            job_title   ranking
0   2019 bauer college business graduate magna cum...  0.098715
1   native english teacher epik english program korea  0.012769
2                aspiring human resource professional  0.102696
3                 people development coordinator ryan  0.130708
4        advisory board member celal bayar university  0.194983
5                  aspiring human resource specialist  0.000000
6   student humber college aspiring human resource...  0.097855
7                                hr senior specialist  0.086114
8     seeking human resource hris generalist position  0.658423
9                          student chapman university  0.000181
10  svp chro marketing communication csr officer e...  0.148835
11  human resource coordinator intercontinental bu...  0.535450
12  aspiring human resource management student see...  1.000000
13                 seeking human resource opportunity  0.580764
14  experienced retail manager aspiring human reso...  0.103017
15    human resource staffing recruiting professional  0.541803
16                human resource specialist luxottica  0.716094
17  director human resource north america groupe b...  0.561285
18  retired army national guard recruiter office m...  0.093883
19          human resource generalist scottmadden inc  0.482098
20  business management major aspiring human resou...  0.008048
21  aspiring human resource manager seeking intern...  0.013457
22                        human resource professional  0.021533
23  nortia staffing seeking human resource payroll...  0.509338
24  aspiring human resource professional passionat...  0.335296
25                 human conflict policy compensation  0.571468
26                   human resource generalist schwan  0.567157
27  liberal art major aspiring human resource analyst  0.012013
28                       junior me information system  0.022416
29  senior human resource business partner heil en...  0.424432
30  aspiring human resource professional energetic...  0.353148
31             hr manager endemol shine north america  0.059056
32  human resource professional world leader gi so...  0.055261
33  rrp brand portfolio executive jti japan tobacc...  0.015409
34  information system specialist programmer love ...  0.001319
35  bachelor science biology victoria university w...  0.018985
36                    human resource management major  0.025065
37                         director human resource ey  0.424882
38    undergraduate research assistant styczynski lab  0.057022
39          lead official western illinois university  0.001784
40  seeking employment opportunity within customer...  0.028541
41  admission representative community medical cen...  0.001005
42  seeking human resource opportunity open travel...  0.485328
43                 student westfield state university  0.000000
44  student indiana university kokomo business man...  0.001795
45               aspiring human resource professional  0.167180
46                                            student  0.000129
47                    seeking human resource position  0.073493
48  aspiring human resource manager graduating may...  0.201223
49                  human resource generalist loparex  0.703923
50           business intelligence analytics traveler  0.006247
51                                 always set success  0.046150
52         director administration excellence logging  0.203254

In [213]:
df.head()

,id,job_title,location,connection,fit,similarities,ranking
0,1,2019 bauer college business graduate magna cum...,"Houston, Texas",0.168337,NaN,0.460152,0.098715
1,2,native english teacher epik english program korea,Kanada,1.000000,NaN,0.010020,0.012769
2,3,aspiring human resource professional,"Raleigh-Durham, North Carolina Area",0.086172,NaN,0.935151,0.102696
3,4,people development coordinator ryan,"Denton, Texas",1.000000,NaN,0.102564,0.130708
4,5,advisory board member celal bayar university,"İzmir, Türkiye",1.000000,NaN,0.153000,0.194983

# Job titles ranking

In [214]:
# Sort the DataFrame in ascending order based on a column
df_sorted = df.sort_values('ranking', ascending=False)

# Print the sorted DataFrame
print(df_sorted[['job_title', 'ranking', 'similarities', 'connection']])

                                            job_title   ranking  similarities  \
12  aspiring human resource management student see...  1.000000      0.784684
16                human resource specialist luxottica  0.716094      0.561908
49                  human resource generalist loparex  0.703923      0.552358
8     seeking human resource hris generalist position  0.658423      0.516655
13                 seeking human resource opportunity  0.580764      0.584583
25                 human conflict policy compensation  0.571468      0.548438
26                   human resource generalist schwan  0.567157      0.445040
17  director human resource north america groupe b...  0.561285      0.440431
15    human resource staffing recruiting professional  0.541803      0.425144
11  human resource coordinator intercontinental bu...  0.535450      0.420159
23  nortia staffing seeking human resource payroll...  0.509338      0.399670
42  seeking human resource opportunity open travel...  0.485328      0.459019
19          human resource generalist scottmadden inc  0.482098      0.378295
37                         director human resource ey  0.424882      0.478063
29  senior human resource business partner heil en...  0.424432      0.366056
30  aspiring human resource professional energetic...  0.353148      0.799293
24  aspiring human resource professional passionat...  0.335296      0.622216
52         director administration excellence logging  0.203254      0.159490
48  aspiring human resource manager graduating may...  0.201223      0.772455
4        advisory board member celal bayar university  0.194983      0.153000
45               aspiring human resource professional  0.167180      0.935151
10  svp chro marketing communication csr officer e...  0.148835      0.116789
3                 people development coordinator ryan  0.130708      0.102564
14  experienced retail manager aspiring human reso...  0.103017      0.720305
2                aspiring human resource professional  0.102696      0.935151
0   2019 bauer college business graduate magna cum...  0.098715      0.460152
6   student humber college aspiring human resource...  0.097855      0.638600
18  retired army national guard recruiter office m...  0.093883      0.453833
7                                hr senior specialist  0.086114      0.067573
47                    seeking human resource position  0.073493      0.612267
31             hr manager endemol shine north america  0.059056      0.086607
38    undergraduate research assistant styczynski lab  0.057022      0.144982
32  human resource professional world leader gi so...  0.055261      0.441591
51                                 always set success  0.046150      0.036213
40  seeking employment opportunity within customer...  0.028541      0.177390
36                    human resource management major  0.025065      0.577315
28                       junior me information system  0.022416      0.172105
22                        human resource professional  0.021533      0.562084
35  bachelor science biology victoria university w...  0.018985      0.190607
33  rrp brand portfolio executive jti japan tobacc...  0.015409      0.012091
21  aspiring human resource manager seeking intern...  0.013457      0.878196
1   native english teacher epik english program korea  0.012769      0.010020
27  liberal art major aspiring human resource analyst  0.012013      0.783964
20  business management major aspiring human resou...  0.008048      0.787856
50           business intelligence analytics traveler  0.006247      0.050957
44  student indiana university kokomo business man...  0.001795      0.039049
39          lead official western illinois university  0.001784      0.018387
34  information system specialist programmer love ...  0.001319      0.172198
41  admission representative community medical cen...  0.001005      0.049170
9                          student chapman university  0.000181      0.070972
46                                            student  0.000129      0.016820
43                 student westfield state university  0.000000      0.000000
5                  aspiring human resource specialist  0.000000      1.000000

    connection
12    1.000000
16    1.000000
49    1.000000
8     1.000000
13    0.779559
25    0.817635
26    1.000000
17    1.000000
15    1.000000
11    1.000000
23    1.000000
42    0.829659
19    1.000000
37    0.697395
29    0.909820
30    0.346693
24    0.422846
52    1.000000
48    0.204409
4     1.000000
45    0.140281
10    1.000000
3     1.000000
14    0.112224
2     0.086172
0     0.168337
6     0.120240
18    0.162325
7     1.000000
47    0.094188
31    0.535070
38    0.308617
32    0.098196
51    1.000000
40    0.126253
36    0.034068
28    0.102204
22    0.030060
35    0.078156
33    1.000000
21    0.012024
1     1.000000
27    0.012024
20    0.008016
50    0.096192
44    0.036072
39    0.076152
34    0.006012
41    0.016032
9     0.002004
46    0.006012
43    0.112224
5     0.000000

# Try with BERT

In [215]:
import pandas as pd
import torch
from sklearn.metrics.pairwise import cosine_similarity
from transformers import BertModel, BertTokenizer

# Load the pre-trained BERT model and tokenizer
model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

# Selected words for similarity comparison
selected_words = ['aspiring', 'human', 'resource']

# Tokenize and encode all sentences and selected words together
tokenized_texts = tokenizer(df['job_title'].tolist(), padding=True, truncation=True, return_tensors='pt')
tokenized_selected_words = tokenizer(selected_words, padding=True, truncation=True, return_tensors='pt')

# Obtain BERT embeddings for all tokens
with torch.no_grad():
    outputs = model(**tokenized_texts)
    sentence_embeddings = outputs.last_hidden_state[:, 0, :].numpy()  # Sentence embeddings

    outputs_selected_words = model(**tokenized_selected_words)
    word_embeddings = outputs_selected_words.last_hidden_state[:, 0, :].numpy()  # Word embeddings

# Calculate cosine similarity between sentence embedding and word embeddings
similarity_scores = []
for i in range(len(df)):
    sentence_embedding = sentence_embeddings[i]
    scores = {}
    for j, word in enumerate(selected_words):
        word_embedding = word_embeddings[j]
        score = cosine_similarity(sentence_embedding.reshape(1, -1), word_embedding.reshape(1, -1)).item()
        scores[word] = score
    similarity_scores.append(scores)

# Reshape similarity scores and convert to DataFrame
similarity_scores = pd.DataFrame(similarity_scores, index=range(len(df)))
similarity_scores.columns = selected_words

# Merge similarity scores with the original DataFrame
df = pd.concat([df, similarity_scores], axis=1)

print(df)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.weight', 'cls.predictions.decoder.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

     id                                          job_title  \
0     1  2019 bauer college business graduate magna cum...
1     2  native english teacher epik english program korea
2     3               aspiring human resource professional
3     4                people development coordinator ryan
4     5       advisory board member celal bayar university
5     6                 aspiring human resource specialist
6     7  student humber college aspiring human resource...
7     8                               hr senior specialist
8    10    seeking human resource hris generalist position
9    11                         student chapman university
10   12  svp chro marketing communication csr officer e...
11   13  human resource coordinator intercontinental bu...
12   27  aspiring human resource management student see...
13   28                 seeking human resource opportunity
14   66  experienced retail manager aspiring human reso...
15   67    human resource staffing recruiting professional
16   68                human resource specialist luxottica
17   69  director human resource north america groupe b...
18   70  retired army national guard recruiter office m...
19   71          human resource generalist scottmadden inc
20   72  business management major aspiring human resou...
21   73  aspiring human resource manager seeking intern...
22   74                        human resource professional
23   75  nortia staffing seeking human resource payroll...
24   76  aspiring human resource professional passionat...
25   77                 human conflict policy compensation
26   78                   human resource generalist schwan
27   79  liberal art major aspiring human resource analyst
28   80                       junior me information system
29   81  senior human resource business partner heil en...
30   82  aspiring human resource professional energetic...
31   83             hr manager endemol shine north america
32   84  human resource professional world leader gi so...
33   85  rrp brand portfolio executive jti japan tobacc...
34   86  information system specialist programmer love ...
35   87  bachelor science biology victoria university w...
36   88                    human resource management major
37   89                         director human resource ey
38   90    undergraduate research assistant styczynski lab
39   91          lead official western illinois university
40   92  seeking employment opportunity within customer...
41   93  admission representative community medical cen...
42   94  seeking human resource opportunity open travel...
43   95                 student westfield state university
44   96  student indiana university kokomo business man...
45   97               aspiring human resource professional
46   98                                            student
47   99                    seeking human resource position
48  100  aspiring human resource manager graduating may...
49  101                  human resource generalist loparex
50  102           business intelligence analytics traveler
51  103                                 always set success
52  104         director administration excellence logging

                               location  connection  fit  similarities  \
0                        Houston, Texas    0.168337  NaN      0.460152
1                                Kanada    1.000000  NaN      0.010020
2   Raleigh-Durham, North Carolina Area    0.086172  NaN      0.935151
3                         Denton, Texas    1.000000  NaN      0.102564
4                        İzmir, Türkiye    1.000000  NaN      0.153000
5            Greater New York City Area    0.000000  NaN      1.000000
6                                Kanada    0.120240  NaN      0.638600
7                San Francisco Bay Area    1.000000  NaN      0.067573
8             Greater Philadelphia Area    1.000000  NaN      0.516655
9               Lake Forest, California    0.002004  NaN      0.070972
10                  Houston, Texas Area    1.000000  NaN      0.116789
11                     Atlanta, Georgia    1.000000  NaN      0.420159
12                  Houston, Texas Area    1.000000  NaN      0.784684
13                    Chicago, Illinois    0.779559  NaN      0.584583
14                   Austin, Texas Area    0.112224  NaN      0.720305
15            Jackson, Mississippi Area    1.000000  NaN      0.425144
16           Greater New York City Area    1.000000  NaN      0.561908
17  Greater Grand Rapids, Michigan Area    1.000000  NaN      0.440431
18             Virginia Beach, Virginia    0.162325  NaN      0.453833
19  Raleigh-Durham, North Carolina Area    1.000000  NaN      0.378295
20               Monroe, Louisiana Area    0.008016  NaN      0.787856
21                  Houston, Texas Area    0.012024  NaN      0.878196
22                  Greater Boston Area    0.030060  NaN      0.562084
23                 San Jose, California    1.000000  NaN      0.399670
24                   New York, New York    0.422846  NaN      0.622216
25               Dallas/Fort Worth Area    0.817635  NaN      0.548438
26          Amerika Birleşik Devletleri    1.000000  NaN      0.445040
27          Baton Rouge, Louisiana Area    0.012024  NaN      0.783964
28    Myrtle Beach, South Carolina Area    0.102204  NaN      0.172105
29          Chattanooga, Tennessee Area    0.909820  NaN      0.366056
30                   Austin, Texas Area    0.346693  NaN      0.799293
31              Los Angeles, California    0.535070  NaN      0.086607
32                 Highland, California    0.098196  NaN      0.441591
33            Greater Philadelphia Area    1.000000  NaN      0.012091
34               Gaithersburg, Maryland    0.006012  NaN      0.172198
35                  Baltimore, Maryland    0.078156  NaN      0.190607
36                 Milpitas, California    0.034068  NaN      0.577315
37                 Greater Atlanta Area    0.697395  NaN      0.478063
38                 Greater Atlanta Area    0.308617  NaN      0.144982
39                 Greater Chicago Area    0.076152  NaN      0.018387
40                 Torrance, California    0.126253  NaN      0.177390
41               Long Beach, California    0.016032  NaN      0.049170
42          Amerika Birleşik Devletleri    0.829659  NaN      0.459019
43           Bridgewater, Massachusetts    0.112224  NaN      0.000000
44                   Lafayette, Indiana    0.036072  NaN      0.039049
45                 Kokomo, Indiana Area    0.140281  NaN      0.935151
46                  Houston, Texas Area    0.006012  NaN      0.016820
47               Las Vegas, Nevada Area    0.094188  NaN      0.612267
48             Cape Girardeau, Missouri    0.204409  NaN      0.772455
49  Raleigh-Durham, North Carolina Area    1.000000  NaN      0.552358
50           Greater New York City Area    0.096192  NaN      0.050957
51             Greater Los Angeles Area    1.000000  NaN      0.036213
52                          Katy, Texas    1.000000  NaN      0.159490

     ranking  aspiring     human  resource
0   0.098715  0.802823  0.849149  0.811189
1   0.012769  0.852012  0.874882  0.874288
2   0.102696  0.760295  0.807430  0.757689
3   0.130708  0.853755  0.899812  0.868571
4   0.194983  0.794921  0.843250  0.816467
5   0.000000  0.778169  0.796384  0.774421
6   0.097855  0.827865  0.862803  0.838333
7   0.086114  0.829243  0.876135  0.855629
8   0.658423  0.835943  0.858868  0.858651
9   0.000181  0.861365  0.865373  0.867618
10  0.148835  0.795867  0.869792  0.824817
11  0.535450  0.908056  0.853949  0.918639
12  1.000000  0.771051  0.800865  0.771994
13  0.580764  0.946720  0.862424  0.947124
14  0.103017  0.656040  0.737290  0.653072
15  0.541803  0.847956  0.879553  0.872207
16  0.716094  0.953045  0.873255  0.963917
17  0.561285  0.824047  0.863262  0.844315
18  0.093883  0.766718  0.849971  0.790793
19  0.482098  0.865610  0.903819  0.888803
20  0.008048  0.757936  0.780612  0.756592
21  0.013457  0.805727  0.841271  0.814900
22  0.021533  0.877678  0.904746  0.900114
23  0.509338  0.833157  0.862895  0.864929
24  0.335296  0.753296  0.801485  0.756574
25  0.571468  0.781264  0.823190  0.804850
26  0.567157  0.896878  0.887943  0.914429
27  0.012013  0.683146  0.713923  0.684039
28  0.022416  0.938650  0.890602  0.956483
29  0.424432  0.852719  0.894845  0.874355
30  0.353148  0.809765  0.846550  0.813268
31  0.059056  0.776213  0.826430  0.803232
32  0.055261  0.890395  0.891978  0.907916
33  0.015409  0.835804  0.880272  0.860484
34  0.001319  0.794188  0.843259  0.820555
35  0.018985  0.814479  0.824567  0.814856
36  0.025065  0.787900  0.830865  0.807170
37  0.424882  0.848091  0.909349  0.876682
38  0.057022  0.788063  0.861293  0.811709
39  0.001784  0.797321  0.846803  0.829732
40  0.028541  0.795498  0.822297  0.818294
41  0.001005  0.821753  0.852756  0.846121
42  0.485328  0.850068  0.847818  0.861846
43  0.000000  0.826953  0.859253  0.837414
44  0.001795  0.822929  0.855333  0.833220
45  0.167180  0.760295  0.807430  0.757689
46  0.000129  0.975993  0.896905  0.965494
47  0.073493  0.951605  0.867854  0.950648
48  0.201223  0.838061  0.859558  0.834896
49  0.703923  0.877896  0.889282  0.903404
50  0.006247  0.804152  0.825705  0.826928
51  0.046150  0.899794  0.882496  0.900282
52  0.203254  0.901227  0.879745  0.908833

In [216]:
df.head()

,id,job_title,location,connection,fit,similarities,ranking,aspiring,human,resource
0,1,2019 bauer college business graduate magna cum...,"Houston, Texas",0.168337,NaN,0.460152,0.098715,0.802823,0.849149,0.811189
1,2,native english teacher epik english program korea,Kanada,1.000000,NaN,0.010020,0.012769,0.852012,0.874882,0.874288
2,3,aspiring human resource professional,"Raleigh-Durham, North Carolina Area",0.086172,NaN,0.935151,0.102696,0.760295,0.807430,0.757689
3,4,people development coordinator ryan,"Denton, Texas",1.000000,NaN,0.102564,0.130708,0.853755,0.899812,0.868571
4,5,advisory board member celal bayar university,"İzmir, Türkiye",1.000000,NaN,0.153000,0.194983,0.794921,0.843250,0.816467

In [217]:
df['avarage'] = (df['aspiring'] + df['human'] + df['resource'])/3

In [218]:
df.head()

,id,job_title,location,connection,fit,similarities,ranking,aspiring,human,resource,avarage
0,1,2019 bauer college business graduate magna cum...,"Houston, Texas",0.168337,NaN,0.460152,0.098715,0.802823,0.849149,0.811189,0.821054
1,2,native english teacher epik english program korea,Kanada,1.000000,NaN,0.010020,0.012769,0.852012,0.874882,0.874288,0.867061
2,3,aspiring human resource professional,"Raleigh-Durham, North Carolina Area",0.086172,NaN,0.935151,0.102696,0.760295,0.807430,0.757689,0.775138
3,4,people development coordinator ryan,"Denton, Texas",1.000000,NaN,0.102564,0.130708,0.853755,0.899812,0.868571,0.874046
4,5,advisory board member celal bayar university,"İzmir, Türkiye",1.000000,NaN,0.153000,0.194983,0.794921,0.843250,0.816467,0.818213

In [219]:
from sklearn.preprocessing import MinMaxScaler

#Select the input features for ranking
features = ['avarage', 'connection']

# Replace '500+' with 500 in the 'connections' column
df['connection'] = df['connection'].replace('500+ ', '500')

df['connection'] = pd.to_numeric(df['connection'])

# Scale the 'connections' column to a range of 0 to 1
scaler = MinMaxScaler()
df['connection'] = scaler.fit_transform(df['connection'].values.reshape(-1, 1))

# Normalize the remaining features to a range of 0 to 1
df[features] = scaler.fit_transform(df[features])

# Calculate the ranking score
df['ranking_BERT'] = 0.8*df['avarage'] * 0.2*df['connection']

# Normalize the ranking score to a range of 0 to 1
df['ranking_BERT'] = scaler.fit_transform(df['ranking_BERT'].values.reshape(-1, 1))

# Print the ranked candidates
print(df[['job_title', 'ranking','ranking_BERT']])

                                            job_title   ranking  ranking_BERT
0   2019 bauer college business graduate magna cum...  0.098715      0.094319
1   native english teacher epik english program korea  0.012769      0.745856
2                aspiring human resource professional  0.102696      0.032324
3                 people development coordinator ryan  0.130708      0.774029
4        advisory board member celal bayar university  0.194983      0.548840
5                  aspiring human resource specialist  0.000000      0.000000
6   student humber college aspiring human resource...  0.097855      0.078014
7                                hr senior specialist  0.086114      0.691845
8     seeking human resource hris generalist position  0.658423      0.681701
9                          student chapman university  0.000181      0.001476
10  svp chro marketing communication csr officer e...  0.148835      0.597022
11  human resource coordinator intercontinental bu...  0.535450      0.852687
12  aspiring human resource management student see...  1.000000      0.399975
13                 seeking human resource opportunity  0.580764      0.743979
14  experienced retail manager aspiring human reso...  0.103017      0.000000
15    human resource staffing recruiting professional  0.541803      0.743885
16                human resource specialist luxottica  0.716094      1.000000
17  director human resource north america groupe b...  0.561285      0.652341
18  retired army national guard recruiter office m...  0.093883      0.078799
19          human resource generalist scottmadden inc  0.482098      0.822557
20  business management major aspiring human resou...  0.008048      0.002681
21  aspiring human resource manager seeking intern...  0.013457      0.006717
22                        human resource professional  0.021533      0.025708
23  nortia staffing seeking human resource payroll...  0.509338      0.691810
24  aspiring human resource professional passionat...  0.335296      0.150620
25                 human conflict policy compensation  0.571468      0.398919
26                   human resource generalist schwan  0.567157      0.877701
27  liberal art major aspiring human resource analyst  0.012013      0.000561
28                       junior me information system  0.022416      0.101588
29  senior human resource business partner heil en...  0.424432      0.703960
30  aspiring human resource professional energetic...  0.353148      0.197245
31             hr manager endemol shine north america  0.059056      0.258590
32  human resource professional world leader gi so...  0.055261      0.085004
33  rrp brand portfolio executive jti japan tobacc...  0.015409      0.712754
34  information system specialist programmer love ...  0.001319      0.003327
35  bachelor science biology victoria university w...  0.018985      0.042818
36                    human resource management major  0.025065      0.017383
37                         director human resource ey  0.424882      0.551041
38    undergraduate research assistant styczynski lab  0.057022      0.172049
39          lead official western illinois university  0.001784      0.043763
40  seeking employment opportunity within customer...  0.028541      0.066144
41  admission representative community medical cen...  0.001005      0.010221
42  seeking human resource opportunity open travel...  0.485328      0.572574
43                 student westfield state university  0.000000      0.072001
44  student indiana university kokomo business man...  0.001795      0.022555
45               aspiring human resource professional  0.167180      0.052620
46                                            student  0.000129      0.006401
47                    seeking human resource position  0.073493      0.091642
48  aspiring human resource manager graduating may...  0.201223      0.133589
49                  human resource generalist loparex  0.703923      0.839160
50           business intelligence analytics traveler  0.006247      0.053072
51                                 always set success  0.046150      0.855278
52         director administration excellence logging  0.203254      0.865002

In [220]:
# Sort the DataFrame in ascending order based on a column
df_sorted = df.sort_values('ranking', ascending=False)

# Print the sorted DataFrame
print(df_sorted[['job_title', 'ranking','ranking_BERT']])

                                            job_title   ranking  ranking_BERT
12  aspiring human resource management student see...  1.000000      0.399975
16                human resource specialist luxottica  0.716094      1.000000
49                  human resource generalist loparex  0.703923      0.839160
8     seeking human resource hris generalist position  0.658423      0.681701
13                 seeking human resource opportunity  0.580764      0.743979
25                 human conflict policy compensation  0.571468      0.398919
26                   human resource generalist schwan  0.567157      0.877701
17  director human resource north america groupe b...  0.561285      0.652341
15    human resource staffing recruiting professional  0.541803      0.743885
11  human resource coordinator intercontinental bu...  0.535450      0.852687
23  nortia staffing seeking human resource payroll...  0.509338      0.691810
42  seeking human resource opportunity open travel...  0.485328      0.572574
19          human resource generalist scottmadden inc  0.482098      0.822557
37                         director human resource ey  0.424882      0.551041
29  senior human resource business partner heil en...  0.424432      0.703960
30  aspiring human resource professional energetic...  0.353148      0.197245
24  aspiring human resource professional passionat...  0.335296      0.150620
52         director administration excellence logging  0.203254      0.865002
48  aspiring human resource manager graduating may...  0.201223      0.133589
4        advisory board member celal bayar university  0.194983      0.548840
45               aspiring human resource professional  0.167180      0.052620
10  svp chro marketing communication csr officer e...  0.148835      0.597022
3                 people development coordinator ryan  0.130708      0.774029
14  experienced retail manager aspiring human reso...  0.103017      0.000000
2                aspiring human resource professional  0.102696      0.032324
0   2019 bauer college business graduate magna cum...  0.098715      0.094319
6   student humber college aspiring human resource...  0.097855      0.078014
18  retired army national guard recruiter office m...  0.093883      0.078799
7                                hr senior specialist  0.086114      0.691845
47                    seeking human resource position  0.073493      0.091642
31             hr manager endemol shine north america  0.059056      0.258590
38    undergraduate research assistant styczynski lab  0.057022      0.172049
32  human resource professional world leader gi so...  0.055261      0.085004
51                                 always set success  0.046150      0.855278
40  seeking employment opportunity within customer...  0.028541      0.066144
36                    human resource management major  0.025065      0.017383
28                       junior me information system  0.022416      0.101588
22                        human resource professional  0.021533      0.025708
35  bachelor science biology victoria university w...  0.018985      0.042818
33  rrp brand portfolio executive jti japan tobacc...  0.015409      0.712754
21  aspiring human resource manager seeking intern...  0.013457      0.006717
1   native english teacher epik english program korea  0.012769      0.745856
27  liberal art major aspiring human resource analyst  0.012013      0.000561
20  business management major aspiring human resou...  0.008048      0.002681
50           business intelligence analytics traveler  0.006247      0.053072
44  student indiana university kokomo business man...  0.001795      0.022555
39          lead official western illinois university  0.001784      0.043763
34  information system specialist programmer love ...  0.001319      0.003327
41  admission representative community medical cen...  0.001005      0.010221
9                          student chapman university  0.000181      0.001476
46                                            student  0.000129      0.006401
43                 student westfield state university  0.000000      0.072001
5                  aspiring human resource specialist  0.000000      0.000000

In [221]:
# Sort the DataFrame in ascending order based on a column
df_sorted = df.sort_values('ranking_BERT', ascending=False)

# Print the sorted DataFrame
print(df_sorted[['job_title', 'ranking','ranking_BERT', 'connection']])

                                            job_title   ranking  ranking_BERT  \
16                human resource specialist luxottica  0.716094      1.000000
26                   human resource generalist schwan  0.567157      0.877701
52         director administration excellence logging  0.203254      0.865002
51                                 always set success  0.046150      0.855278
11  human resource coordinator intercontinental bu...  0.535450      0.852687
49                  human resource generalist loparex  0.703923      0.839160
19          human resource generalist scottmadden inc  0.482098      0.822557
3                 people development coordinator ryan  0.130708      0.774029
1   native english teacher epik english program korea  0.012769      0.745856
13                 seeking human resource opportunity  0.580764      0.743979
15    human resource staffing recruiting professional  0.541803      0.743885
33  rrp brand portfolio executive jti japan tobacc...  0.015409      0.712754
29  senior human resource business partner heil en...  0.424432      0.703960
7                                hr senior specialist  0.086114      0.691845
23  nortia staffing seeking human resource payroll...  0.509338      0.691810
8     seeking human resource hris generalist position  0.658423      0.681701
17  director human resource north america groupe b...  0.561285      0.652341
10  svp chro marketing communication csr officer e...  0.148835      0.597022
42  seeking human resource opportunity open travel...  0.485328      0.572574
37                         director human resource ey  0.424882      0.551041
4        advisory board member celal bayar university  0.194983      0.548840
12  aspiring human resource management student see...  1.000000      0.399975
25                 human conflict policy compensation  0.571468      0.398919
31             hr manager endemol shine north america  0.059056      0.258590
30  aspiring human resource professional energetic...  0.353148      0.197245
38    undergraduate research assistant styczynski lab  0.057022      0.172049
24  aspiring human resource professional passionat...  0.335296      0.150620
48  aspiring human resource manager graduating may...  0.201223      0.133589
28                       junior me information system  0.022416      0.101588
0   2019 bauer college business graduate magna cum...  0.098715      0.094319
47                    seeking human resource position  0.073493      0.091642
32  human resource professional world leader gi so...  0.055261      0.085004
18  retired army national guard recruiter office m...  0.093883      0.078799
6   student humber college aspiring human resource...  0.097855      0.078014
43                 student westfield state university  0.000000      0.072001
40  seeking employment opportunity within customer...  0.028541      0.066144
50           business intelligence analytics traveler  0.006247      0.053072
45               aspiring human resource professional  0.167180      0.052620
39          lead official western illinois university  0.001784      0.043763
35  bachelor science biology victoria university w...  0.018985      0.042818
2                aspiring human resource professional  0.102696      0.032324
22                        human resource professional  0.021533      0.025708
44  student indiana university kokomo business man...  0.001795      0.022555
36                    human resource management major  0.025065      0.017383
41  admission representative community medical cen...  0.001005      0.010221
21  aspiring human resource manager seeking intern...  0.013457      0.006717
46                                            student  0.000129      0.006401
34  information system specialist programmer love ...  0.001319      0.003327
20  business management major aspiring human resou...  0.008048      0.002681
9                          student chapman university  0.000181      0.001476
27  liberal art major aspiring human resource analyst  0.012013      0.000561
14  experienced retail manager aspiring human reso...  0.103017      0.000000
5                  aspiring human resource specialist  0.000000      0.000000

    connection
16    1.000000
26    1.000000
52    1.000000
51    1.000000
11    1.000000
49    1.000000
19    1.000000
3     1.000000
1     1.000000
13    0.779559
15    1.000000
33    1.000000
29    0.909820
7     1.000000
23    1.000000
8     1.000000
17    1.000000
10    1.000000
42    0.829659
37    0.697395
4     1.000000
12    1.000000
25    0.817635
31    0.535070
30    0.346693
38    0.308617
24    0.422846
48    0.204409
28    0.102204
0     0.168337
47    0.094188
32    0.098196
18    0.162325
6     0.120240
43    0.112224
40    0.126253
50    0.096192
45    0.140281
39    0.076152
35    0.078156
2     0.086172
22    0.030060
44    0.036072
36    0.034068
41    0.016032
21    0.012024
46    0.006012
34    0.006012
20    0.008016
9     0.002004
27    0.012024
14    0.112224
5     0.000000

# SBERT

In [222]:
model = SentenceTransformer('paraphrase-distilroberta-base-v1')

In [223]:
sentences = list(df['job_title'].values)
sentences

['2019 bauer college business graduate magna cum laude aspiring human resource professional',
 'native english teacher epik english program korea',
 'aspiring human resource professional',
 'people development coordinator ryan',
 'advisory board member celal bayar university',
 'aspiring human resource specialist',
 'student humber college aspiring human resource generalist',
 'hr senior specialist',
 'seeking human resource hris generalist position',
 'student chapman university',
 'svp chro marketing communication csr officer engie houston woodland energy gphr sphr',
 'human resource coordinator intercontinental buckhead atlanta',
 'aspiring human resource management student seeking internship',
 'seeking human resource opportunity',
 'experienced retail manager aspiring human resource professional',
 'human resource staffing recruiting professional',
 'human resource specialist luxottica',
 'director human resource north america groupe beneteau',
 'retired army national guard recruiter office manager seeking position human resource',
 'human resource generalist scottmadden inc',
 'business management major aspiring human resource manager',
 'aspiring human resource manager seeking internship human resource',
 'human resource professional',
 'nortia staffing seeking human resource payroll administrative professional 408',
 'aspiring human resource professional passionate helping create inclusive engaging work environment',
 'human conflict policy compensation',
 'human resource generalist schwan',
 'liberal art major aspiring human resource analyst',
 'junior me information system',
 'senior human resource business partner heil environmental',
 'aspiring human resource professional energetic leader',
 'hr manager endemol shine north america',
 'human resource professional world leader gi software',
 'rrp brand portfolio executive jti japan tobacco international',
 'information system specialist programmer love data organization',
 'bachelor science biology victoria university wellington',
 'human resource management major',
 'director human resource ey',
 'undergraduate research assistant styczynski lab',
 'lead official western illinois university',
 'seeking employment opportunity within customer service patient care',
 'admission representative community medical center long beach',
 'seeking human resource opportunity open travel relocation',
 'student westfield state university',
 'student indiana university kokomo business management retail manager delphi hardware paint',
 'aspiring human resource professional',
 'student',
 'seeking human resource position',
 'aspiring human resource manager graduating may 2020 seeking human resource position louis',
 'human resource generalist loparex',
 'business intelligence analytics traveler',
 'always set success',
 'director administration excellence logging']

In [224]:
# Encode the target sentence and other sentences
target_sentence = 'aspiring human resource'
target_embedding = model.encode([target_sentence])[0]
sentence_embeddings = model.encode(sentences)

# Calculate cosine similarity between the target sentence and other sentences
similarities = cosine_similarity([target_embedding], sentence_embeddings)[0]

# Sort the sentences based on their similarity scores
results = sorted(zip(sentences, similarities), key=lambda x: x[1], reverse=True)

# Print the most similar sentences
for sentence, similarity in results:
    print(f"Similarity: {similarity:.4f}\tSentence: {sentence}")

Similarity: 0.7982	Sentence: aspiring human resource professional
Similarity: 0.7982	Sentence: aspiring human resource professional
Similarity: 0.7820	Sentence: seeking human resource opportunity
Similarity: 0.7614	Sentence: aspiring human resource specialist
Similarity: 0.7600	Sentence: seeking human resource position
Similarity: 0.5887	Sentence: aspiring human resource professional energetic leader
Similarity: 0.5831	Sentence: seeking human resource hris generalist position
Similarity: 0.5791	Sentence: aspiring human resource manager seeking internship human resource
Similarity: 0.5609	Sentence: human resource professional
Similarity: 0.5128	Sentence: aspiring human resource management student seeking internship
Similarity: 0.4970	Sentence: aspiring human resource professional passionate helping create inclusive engaging work environment
Similarity: 0.4840	Sentence: director human resource ey
Similarity: 0.4597	Sentence: seeking human resource opportunity open travel relocation
Similarity: 0.4171	Sentence: aspiring human resource manager graduating may 2020 seeking human resource position louis
Similarity: 0.4049	Sentence: human resource management major
Similarity: 0.3845	Sentence: human resource staffing recruiting professional
Similarity: 0.3843	Sentence: human resource generalist schwan
Similarity: 0.3715	Sentence: student humber college aspiring human resource generalist
Similarity: 0.3649	Sentence: director human resource north america groupe beneteau
Similarity: 0.3617	Sentence: business management major aspiring human resource manager
Similarity: 0.3526	Sentence: retired army national guard recruiter office manager seeking position human resource
Similarity: 0.3365	Sentence: experienced retail manager aspiring human resource professional
Similarity: 0.3090	Sentence: human resource generalist loparex
Similarity: 0.3010	Sentence: nortia staffing seeking human resource payroll administrative professional 408
Similarity: 0.2992	Sentence: liberal art major aspiring human resource analyst
Similarity: 0.2950	Sentence: 2019 bauer college business graduate magna cum laude aspiring human resource professional
Similarity: 0.2823	Sentence: seeking employment opportunity within customer service patient care
Similarity: 0.2743	Sentence: human resource professional world leader gi software
Similarity: 0.2735	Sentence: senior human resource business partner heil environmental
Similarity: 0.2605	Sentence: human resource generalist scottmadden inc
Similarity: 0.2601	Sentence: human resource coordinator intercontinental buckhead atlanta
Similarity: 0.2513	Sentence: human resource specialist luxottica
Similarity: 0.1817	Sentence: student
Similarity: 0.1710	Sentence: student westfield state university
Similarity: 0.1646	Sentence: hr senior specialist
Similarity: 0.1485	Sentence: student chapman university
Similarity: 0.1481	Sentence: director administration excellence logging
Similarity: 0.1320	Sentence: human conflict policy compensation
Similarity: 0.1219	Sentence: admission representative community medical center long beach
Similarity: 0.1177	Sentence: junior me information system
Similarity: 0.1055	Sentence: lead official western illinois university
Similarity: 0.0966	Sentence: information system specialist programmer love data organization
Similarity: 0.0961	Sentence: always set success
Similarity: 0.0940	Sentence: svp chro marketing communication csr officer engie houston woodland energy gphr sphr
Similarity: 0.0902	Sentence: people development coordinator ryan
Similarity: 0.0799	Sentence: business intelligence analytics traveler
Similarity: 0.0480	Sentence: hr manager endemol shine north america
Similarity: 0.0430	Sentence: undergraduate research assistant styczynski lab
Similarity: 0.0322	Sentence: student indiana university kokomo business management retail manager delphi hardware paint
Similarity: 0.0268	Sentence: native english teacher epik english program korea
Similarity: 0.0243	Sentence: bachelor science biology victoria university wellington
Similarity: -0.0414	Sentence: advisory board member celal bayar university
Similarity: -0.0424	Sentence: rrp brand portfolio executive jti japan tobacco international

In [225]:
from sklearn.preprocessing import MinMaxScaler

#Select the input features for ranking
features = ['connection']

# Replace '500+' with 500 in the 'connections' column
df['connection'] = df['connection'].replace('500+ ', '500')

df['connection'] = pd.to_numeric(df['connection'])
print(df['connection'])
# Scale the 'connections' column to a range of 0 to 1
scaler = MinMaxScaler()
df['connection'] = scaler.fit_transform(df['connection'].values.reshape(-1, 1))

# Normalize the remaining features to a range of 0 to 1
df[features] = scaler.fit_transform(df[features])

# Calculate the ranking score
df['ranking_SBERT'] = 0.8*similarities*0.2*df['connection']

# Normalize the ranking score to a range of 0 to 1
df['ranking_SBERT'] = scaler.fit_transform(df['ranking_SBERT'].values.reshape(-1, 1))

# Print the ranked candidates
print(df[['job_title', 'ranking','ranking_SBERT']])

0     0.168337
1     1.000000
2     0.086172
3     1.000000
4     1.000000
5     0.000000
6     0.120240
7     1.000000
8     1.000000
9     0.002004
10    1.000000
11    1.000000
12    1.000000
13    0.779559
14    0.112224
15    1.000000
16    1.000000
17    1.000000
18    0.162325
19    1.000000
20    0.008016
21    0.012024
22    0.030060
23    1.000000
24    0.422846
25    0.817635
26    1.000000
27    0.012024
28    0.102204
29    0.909820
30    0.346693
31    0.535070
32    0.098196
33    1.000000
34    0.006012
35    0.078156
36    0.034068
37    0.697395
38    0.308617
39    0.076152
40    0.126253
41    0.016032
42    0.829659
43    0.112224
44    0.036072
45    0.140281
46    0.006012
47    0.094188
48    0.204409
49    1.000000
50    0.096192
51    1.000000
52    1.000000
Name: connection, dtype: float64
                                            job_title   ranking  ranking_SBERT
0   2019 bauer college business graduate magna cum...  0.098715       0.141204
1   native english teacher epik english program korea  0.012769       0.106106
2                aspiring human resource professional  0.102696       0.170549
3                 people development coordinator ryan  0.130708       0.203433
4        advisory board member celal bayar university  0.194983       0.001514
5                  aspiring human resource specialist  0.000000       0.065046
6   student humber college aspiring human resource...  0.097855       0.133567
7                                hr senior specialist  0.086114       0.317438
8     seeking human resource hris generalist position  0.658423       0.959326
9                          student chapman university  0.000181       0.065503
10  svp chro marketing communication csr officer e...  0.148835       0.209265
11  human resource coordinator intercontinental bu...  0.535450       0.463957
12  aspiring human resource management student see...  1.000000       0.851571
13                 seeking human resource opportunity  0.580764       1.000000
14  experienced retail manager aspiring human reso...  0.103017       0.122969
15    human resource staffing recruiting professional  0.541803       0.654748
16                human resource specialist luxottica  0.716094       0.450554
17  director human resource north america groupe b...  0.561285       0.624740
18  retired army national guard recruiter office m...  0.093883       0.152845
19          human resource generalist scottmadden inc  0.482098       0.464661
20  business management major aspiring human resou...  0.008048       0.069493
21  aspiring human resource manager seeking intern...  0.013457       0.075727
22                        human resource professional  0.021533       0.090907
23  nortia staffing seeking human resource payroll...  0.509338       0.526767
24  aspiring human resource professional passionat...  0.335296       0.387345
25                 human conflict policy compensation  0.571468       0.230613
26                   human resource generalist schwan  0.567157       0.654412
27  liberal art major aspiring human resource analyst  0.012013       0.070563
28                       junior me information system  0.022416       0.083495
29  senior human resource business partner heil en...  0.424432       0.446750
30  aspiring human resource professional energetic...  0.353148       0.378063
31             hr manager endemol shine north america  0.059056       0.104459
32  human resource professional world leader gi so...  0.055261       0.106360
33  rrp brand portfolio executive jti japan tobacc...  0.015409       0.000000
34  information system specialist programmer love ...  0.001319       0.065937
35  bachelor science biology victoria university w...  0.018985       0.067958
36                    human resource management major  0.025065       0.086202
37                         director human resource ey  0.424882       0.582734
38    undergraduate research assistant styczynski lab  0.057022       0.085409
39          lead official western illinois university  0.001784       0.077367
40  seeking employment opportunity within customer...  0.028541       0.119706
41  admission representative community medical cen...  0.001005       0.068044
42  seeking human resource opportunity open travel...  0.485328       0.650045
43                 student westfield state university  0.000000       0.094474
44  student indiana university kokomo business man...  0.001795       0.066829
45               aspiring human resource professional  0.167180       0.236794
46                                            student  0.000129       0.066722
47                    seeking human resource position  0.073493       0.174834
48  aspiring human resource manager graduating may...  0.201223       0.195821
49                  human resource generalist loparex  0.703923       0.538971
50           business intelligence analytics traveler  0.006247       0.076827
51                                 always set success  0.046150       0.212398
52         director administration excellence logging  0.203254       0.292160

In [226]:
df.tail(40)

,id,job_title,location,connection,fit,similarities,ranking,aspiring,human,resource,avarage,ranking_BERT,ranking_SBERT
13,28,seeking human resource opportunity,"Chicago, Illinois",0.779559,NaN,0.584583,0.580764,0.946720,0.862424,0.947124,0.896309,0.743979,1.000000
14,66,experienced retail manager aspiring human reso...,"Austin, Texas Area",0.112224,NaN,0.720305,0.103017,0.656040,0.737290,0.653072,0.000000,0.000000,0.122969
15,67,human resource staffing recruiting professional,"Jackson, Mississippi Area",1.000000,NaN,0.425144,0.541803,0.847956,0.879553,0.872207,0.698637,0.743885,0.654748
16,68,human resource specialist luxottica,Greater New York City Area,1.000000,NaN,0.561908,0.716094,0.953045,0.873255,0.963917,0.939173,1.000000,0.450554
17,69,director human resource north america groupe b...,"Greater Grand Rapids, Michigan Area",1.000000,NaN,0.440431,0.561285,0.824047,0.863262,0.844315,0.612661,0.652341,0.624740
18,70,retired army national guard recruiter office m...,"Virginia Beach, Virginia",0.162325,NaN,0.453833,0.093883,0.766718,0.849971,0.790793,0.455915,0.078799,0.152845
19,71,human resource generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",1.000000,NaN,0.378295,0.482098,0.865610,0.903819,0.888803,0.772524,0.822557,0.464661
20,72,business management major aspiring human resou...,"Monroe, Louisiana Area",0.008016,NaN,0.787856,0.008048,0.757936,0.780612,0.756592,0.314067,0.002681,0.069493
21,73,aspiring human resource manager seeking intern...,"Houston, Texas Area",0.012024,NaN,0.878196,0.013457,0.805727,0.841271,0.814900,0.524623,0.006717,0.075727
22,74,human resource professional,Greater Boston Area,0.030060,NaN,0.562084,0.021533,0.877678,0.904746,0.900114,0.803212,0.025708,0.090907
23,75,nortia staffing seeking human resource payroll...,"San Jose, California",1.000000,NaN,0.399670,0.509338,0.833157,0.862895,0.864929,0.649730,0.691810,0.526767
24,76,aspiring human resource professional passionat...,"New York, New York",0.422846,NaN,0.622216,0.335296,0.753296,0.801485,0.756574,0.334539,0.150620,0.387345
25,77,human conflict policy compensation,Dallas/Fort Worth Area,0.817635,NaN,0.548438,0.571468,0.781264,0.823190,0.804850,0.458216,0.398919,0.230613
26,78,human resource generalist schwan,Amerika Birleşik Devletleri,1.000000,NaN,0.445040,0.567157,0.896878,0.887943,0.914429,0.824313,0.877701,0.654412
27,79,liberal art major aspiring human resource analyst,"Baton Rouge, Louisiana Area",0.012024,NaN,0.783964,0.012013,0.683146,0.713923,0.684039,0.043820,0.000561,0.070563
28,80,junior me information system,"Myrtle Beach, South Carolina Area",0.102204,NaN,0.172105,0.022416,0.938650,0.890602,0.956483,0.933513,0.101588,0.083495
29,81,senior human resource business partner heil en...,"Chattanooga, Tennessee Area",0.909820,NaN,0.366056,0.424432,0.852719,0.894845,0.874355,0.726673,0.703960,0.446750
30,82,aspiring human resource professional energetic...,"Austin, Texas Area",0.346693,NaN,0.799293,0.353148,0.809765,0.846550,0.813268,0.534327,0.197245,0.378063
31,83,hr manager endemol shine north america,"Los Angeles, California",0.535070,NaN,0.086607,0.059056,0.776213,0.826430,0.803232,0.453887,0.258590,0.104459
32,84,human resource professional world leader gi so...,"Highland, California",0.098196,NaN,0.441591,0.055261,0.890395,0.891978,0.907916,0.813000,0.085004,0.106360
33,85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,1.000000,NaN,0.012091,0.015409,0.835804,0.880272,0.860484,0.669400,0.712754,0.000000
34,86,information system specialist programmer love ...,"Gaithersburg, Maryland",0.006012,NaN,0.172198,0.001319,0.794188,0.843259,0.820555,0.519703,0.003327,0.065937
35,87,bachelor science biology victoria university w...,"Baltimore, Maryland",0.078156,NaN,0.190607,0.018985,0.814479,0.824567,0.814856,0.514527,0.042818,0.067958
36,88,human resource management major,"Milpitas, California",0.034068,NaN,0.577315,0.025065,0.787900,0.830865,0.807170,0.479215,0.017383,0.086202
37,89,director human resource ey,Greater Atlanta Area,0.697395,NaN,0.478063,0.424882,0.848091,0.909349,0.876682,0.742081,0.551041,0.582734
38,90,undergraduate research assistant styczynski lab,Greater Atlanta Area,0.308617,NaN,0.144982,0.057022,0.788063,0.861293,0.811709,0.523572,0.172049,0.085409
39,91,lead official western illinois university,Greater Chicago Area,0.076152,NaN,0.018387,0.001784,0.797321,0.846803,0.829732,0.539721,0.043763,0.077367
40,92,seeking employment opportunity within customer...,"Torrance, California",0.126253,NaN,0.177390,0.028541,0.795498,0.822297,0.818294,0.492035,0.066144,0.119706
41,93,admission representative community medical cen...,"Long Beach, California",0.016032,NaN,0.049170,0.001005,0.821753,0.852756,0.846121,0.598781,0.010221,0.068044
42,94,seeking human resource opportunity open travel...,Amerika Birleşik Devletleri,0.829659,NaN,0.459019,0.485328,0.850068,0.847818,0.861846,0.648153,0.572574,0.650045
43,95,student westfield state university,"Bridgewater, Massachusetts",0.112224,NaN,0.000000,0.000000,0.826953,0.859253,0.837414,0.602555,0.072001,0.094474
44,96,student indiana university kokomo business man...,"Lafayette, Indiana",0.036072,NaN,0.039049,0.001795,0.822929,0.855333,0.833220,0.587229,0.022555,0.066829
45,97,aspiring human resource professional,"Kokomo, Indiana Area",0.140281,NaN,0.935151,0.167180,0.760295,0.807430,0.757689,0.352292,0.052620,0.236794
46,98,student,"Houston, Texas Area",0.006012,NaN,0.016820,0.000129,0.975993,0.896905,0.965494,1.000000,0.006401,0.066722
47,99,seeking human resource position,"Las Vegas, Nevada Area",0.094188,NaN,0.612267,0.073493,0.951605,0.867854,0.950648,0.913780,0.091642,0.174834
48,100,aspiring human resource manager graduating may...,"Cape Girardeau, Missouri",0.204409,NaN,0.772455,0.201223,0.838061,0.859558,0.834896,0.613787,0.133589,0.195821
49,101,human resource generalist loparex,"Raleigh-Durham, North Carolina Area",1.000000,NaN,0.552358,0.703923,0.877896,0.889282,0.903404,0.788116,0.839160,0.538971
50,102,business intelligence analytics traveler,Greater New York City Area,0.096192,NaN,0.050957,0.006247,0.804152,0.825705,0.826928,0.518166,0.053072,0.076827
51,103,always set success,Greater Los Angeles Area,1.000000,NaN,0.036213,0.046150,0.899794,0.882496,0.900282,0.803254,0.855278,0.212398
52,104,director administration excellence logging,"Katy, Texas",1.000000,NaN,0.159490,0.203254,0.901227,0.879745,0.908833,0.812387,0.865002,0.292160