<a href="https://colab.research.google.com/github/Mrcl3/O6EQTwpkNwvulbOa/blob/master/talent_search_with_embeddings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
!pip install unidecode
!pip install gensim
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim in /usr/local/lib/python3.10/dist-packages (4.3.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim) (6.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.29.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.15.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)

In [155]:
import numpy as np
import pandas as pd
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from unidecode import unidecode
import string
from nltk.stem import WordNetLemmatizer
from gensim.models import Word2Vec

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## Read the data

In [156]:
df = pd.read_csv('/content/drive/MyDrive/Aprziva/O6EQTwpkNwvulbOa/potential-talents - Aspiring human resources - seeking human resources.csv')

## Define the sentence to be checked

# Preprocessing

In [157]:
df.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [158]:
df.shape

(104, 5)

In [159]:
df.duplicated().sum()

0

In [160]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from unidecode import unidecode

def preprocess(sentence):
    # Converting the words to lowercase
    sentence = sentence.lower()
    
    # Collecting a list of stop words from nltk and punctuation from the string class
    stopset = stopwords.words('english') + list(string.punctuation)
    
    # Remove stop words and punctuations from the string
    words = word_tokenize(sentence)
    words = [i for i in words if i.lower() not in stopset and not any(char in string.punctuation for char in i)]
    new_sentence = " ".join(words)
    
    # Remove non-ASCII characters
    new_sentence = unidecode(new_sentence)
    
    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    words = word_tokenize(new_sentence)
    words = [lemmatizer.lemmatize(word) for word in words]
    
    return " ".join(words)

In [161]:
df['job_title'] = df['job_title'].apply(preprocess)

# Word2Vec model

In [162]:
sentences = []
for item in df['job_title'].values:
  # Tokenize the sentence into a list of words
  words = nltk.word_tokenize(item)
    
  # Add the list of words to the sentences list
  sentences.append(words)
  model= Word2Vec(sentences,min_count=1,vector_size=300,workers=4)

In [163]:
print(model)

Word2Vec<vocab=172, vector_size=300, alpha=0.025>

In [164]:
model.save("word2vec.model")
model.save("model.bin")

In [165]:
model = Word2Vec.load('model.bin')

# Using the model to calculate similarities

In [166]:
similarity_array = []
# Define two example sentences
sentence2 = "aspiring human resources"
for item in df['job_title'].values:
  # Tokenize the sentences into lists of words
  tokens1 = nltk.word_tokenize(item)
  tokens2 = nltk.word_tokenize(sentence2)

  # Calculate the similarity between the two sentences
  similarity = model.wv.n_similarity(tokens1, tokens2)
  similarity_array.append(similarity)
df['similarities'] = similarity_array

In [167]:
df.tail(5)

,id,job_title,location,connection,fit,similarities
99,100,aspiring human resource manager graduating may...,"Cape Girardeau, Missouri",103,NaN,0.565562
100,101,human resource generalist loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,0.409442
101,102,business intelligence analytics traveler,Greater New York City Area,49,NaN,0.062707
102,103,always set success,Greater Los Angeles Area,500+,NaN,0.000582
103,104,director administration excellence logging,"Katy, Texas",500+,NaN,0.073247

# Basic fit ranking (similarities + connection scaled to (0,1)

In [169]:
from sklearn.preprocessing import MinMaxScaler

#Select the input features for ranking
features = ['similarities', 'connection']

# Replace '500+' with 500 in the 'connections' column
df['connection'] = df['connection'].replace('500+ ', '500')

df['connection'] = pd.to_numeric(df['connection'])
print(df['connection'])
# Scale the 'connections' column to a range of 0 to 1
scaler = MinMaxScaler()
df['connection'] = scaler.fit_transform(df['connection'].values.reshape(-1, 1))

# Normalize the remaining features to a range of 0 to 1
df[features] = scaler.fit_transform(df[features])

# Calculate the ranking score
df['ranking'] = df['similarities'] * df['connection']

# Normalize the ranking score to a range of 0 to 1
df['ranking'] = scaler.fit_transform(df['ranking'].values.reshape(-1, 1))

# Print the ranked candidates
print(df[['job_title', 'ranking']])

0      0.168337
1      1.000000
2      0.086172
3      1.000000
4      1.000000
         ...
99     0.204409
100    1.000000
101    0.096192
102    1.000000
103    1.000000
Name: connection, Length: 104, dtype: float64
                                             job_title   ranking
0    2019 bauer college business graduate magna cum...  0.165205
1    native english teacher epik english program korea  0.273624
2                 aspiring human resource professional  0.116683
3                  people development coordinator ryan  0.000000
4         advisory board member celal bayar university  0.136236
..                                                 ...       ...
99   aspiring human resource manager graduating may...  0.211271
100                  human resource generalist loparex  0.773300
101           business intelligence analytics traveler  0.018782
102                                 always set success  0.091685
103         director administration excellence logging  0.212826

[104 rows x 2 columns]

In [170]:
df.head()

,id,job_title,location,connection,fit,similarities,ranking
0,1,2019 bauer college business graduate magna cum...,"Houston, Texas",0.168337,NaN,0.724779,0.165205
1,2,native english teacher epik english program korea,Kanada,1.000000,NaN,0.202076,0.273624
2,3,aspiring human resource professional,"Raleigh-Durham, North Carolina Area",0.086172,NaN,1.000000,0.116683
3,4,people development coordinator ryan,"Denton, Texas",1.000000,NaN,0.000000,0.000000
4,5,advisory board member celal bayar university,"İzmir, Türkiye",1.000000,NaN,0.100613,0.136236

# Job titles ranking

In [173]:
# Sort the DataFrame in ascending order based on a column
df_sorted = df.sort_values('ranking', ascending=False)

# Print the sorted DataFrame
print(df_sorted[['job_title', 'ranking', 'similarities', 'connection']])

                                             job_title   ranking  \
28   aspiring human resource management student see...  1.000000
26   aspiring human resource management student see...  1.000000
66     human resource staffing recruiting professional  0.797249
100                  human resource generalist loparex  0.773300
70           human resource generalist scottmadden inc  0.729565
..                                                 ...       ...
48                  aspiring human resource specialist  0.000000
46                 people development coordinator ryan  0.000000
59                  aspiring human resource specialist  0.000000
35                  aspiring human resource specialist  0.000000
21                 people development coordinator ryan  0.000000

     similarities  connection
28       0.738516         1.0
26       0.738516         1.0
66       0.588782         1.0
100      0.571095         1.0
70       0.538796         1.0
..            ...         ...
48       0.938688         0.0
46       0.000000         1.0
59       0.938688         0.0
35       0.938688         0.0
21       0.000000         1.0

[104 rows x 4 columns]

# Try with BERT

In [139]:
import pandas as pd
import torch
from sklearn.metrics.pairwise import cosine_similarity
from transformers import BertModel, BertTokenizer

# Load the pre-trained BERT model and tokenizer
model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

# Selected words for similarity comparison
selected_words = ['aspiring', 'human', 'resource']

# Tokenize and encode all sentences and selected words together
tokenized_texts = tokenizer(df['job_title'].tolist(), padding=True, truncation=True, return_tensors='pt')
tokenized_selected_words = tokenizer(selected_words, padding=True, truncation=True, return_tensors='pt')

# Obtain BERT embeddings for all tokens
with torch.no_grad():
    outputs = model(**tokenized_texts)
    sentence_embeddings = outputs.last_hidden_state[:, 0, :].numpy()  # Sentence embeddings

    outputs_selected_words = model(**tokenized_selected_words)
    word_embeddings = outputs_selected_words.last_hidden_state[:, 0, :].numpy()  # Word embeddings

# Calculate cosine similarity between sentence embedding and word embeddings
similarity_scores = []
for i in range(len(df)):
    sentence_embedding = sentence_embeddings[i]
    scores = {}
    for j, word in enumerate(selected_words):
        word_embedding = word_embeddings[j]
        score = cosine_similarity(sentence_embedding.reshape(1, -1), word_embedding.reshape(1, -1)).item()
        scores[word] = score
    similarity_scores.append(scores)

# Reshape similarity scores and convert to DataFrame
similarity_scores = pd.DataFrame(similarity_scores, index=range(len(df)))
similarity_scores.columns = selected_words

# Merge similarity scores with the original DataFrame
df = pd.concat([df, similarity_scores], axis=1)

print(df)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

      id                                          job_title  \
0      1  2019 bauer college business graduate magna cum...
1      2  native english teacher epik english program korea
2      3               aspiring human resource professional
3      4                people development coordinator ryan
4      5       advisory board member celal bayar university
..   ...                                                ...
99   100  aspiring human resource manager graduating may...
100  101                  human resource generalist loparex
101  102           business intelligence analytics traveler
102  103                                 always set success
103  104         director administration excellence logging

                                location  connection  fit  similarities  \
0                         Houston, Texas    0.168337  NaN      0.724779
1                                 Kanada    1.000000  NaN      0.202076
2    Raleigh-Durham, North Carolina Area    0.086172  NaN      1.000000
3                          Denton, Texas    1.000000  NaN      0.000000
4                         İzmir, Türkiye    1.000000  NaN      0.100613
..                                   ...         ...  ...           ...
99              Cape Girardeau, Missouri    0.204409  NaN      0.763307
100  Raleigh-Durham, North Carolina Area    1.000000  NaN      0.571095
101           Greater New York City Area    0.096192  NaN      0.144199
102             Greater Los Angeles Area    1.000000  NaN      0.067711
103                          Katy, Texas    1.000000  NaN      0.157175

      ranking  aspiring     human  resource
0    0.165205  0.802823  0.849149  0.811189
1    0.273624  0.852012  0.874882  0.874288
2    0.116683  0.760295  0.807430  0.757689
3    0.000000  0.853755  0.899812  0.868571
4    0.136236  0.794921  0.843250  0.816467
..        ...       ...       ...       ...
99   0.211271  0.838061  0.859558  0.834896
100  0.773300  0.877896  0.889282  0.903404
101  0.018782  0.804152  0.825705  0.826928
102  0.091685  0.899794  0.882496  0.900282
103  0.212826  0.901227  0.879745  0.908833

[104 rows x 10 columns]

In [140]:
df.head()

,id,job_title,location,connection,fit,similarities,ranking,aspiring,human,resource
0,1,2019 bauer college business graduate magna cum...,"Houston, Texas",0.168337,NaN,0.724779,0.165205,0.802823,0.849149,0.811189
1,2,native english teacher epik english program korea,Kanada,1.000000,NaN,0.202076,0.273624,0.852012,0.874882,0.874288
2,3,aspiring human resource professional,"Raleigh-Durham, North Carolina Area",0.086172,NaN,1.000000,0.116683,0.760295,0.807430,0.757689
3,4,people development coordinator ryan,"Denton, Texas",1.000000,NaN,0.000000,0.000000,0.853755,0.899812,0.868571
4,5,advisory board member celal bayar university,"İzmir, Türkiye",1.000000,NaN,0.100613,0.136236,0.794921,0.843250,0.816467

In [142]:
df['avarage'] = (df['aspiring'] + df['human'] + df['resource'])/3

In [143]:
df.head()

,id,job_title,location,connection,fit,similarities,ranking,aspiring,human,resource,avarage
0,1,2019 bauer college business graduate magna cum...,"Houston, Texas",0.168337,NaN,0.724779,0.165205,0.802823,0.849149,0.811189,0.821054
1,2,native english teacher epik english program korea,Kanada,1.000000,NaN,0.202076,0.273624,0.852012,0.874882,0.874288,0.867061
2,3,aspiring human resource professional,"Raleigh-Durham, North Carolina Area",0.086172,NaN,1.000000,0.116683,0.760295,0.807430,0.757689,0.775138
3,4,people development coordinator ryan,"Denton, Texas",1.000000,NaN,0.000000,0.000000,0.853755,0.899812,0.868571,0.874046
4,5,advisory board member celal bayar university,"İzmir, Türkiye",1.000000,NaN,0.100613,0.136236,0.794921,0.843250,0.816467,0.818213

In [144]:
from sklearn.preprocessing import MinMaxScaler

#Select the input features for ranking
features = ['avarage', 'connection']

# Replace '500+' with 500 in the 'connections' column
df['connection'] = df['connection'].replace('500+ ', '500')

df['connection'] = pd.to_numeric(df['connection'])

# Scale the 'connections' column to a range of 0 to 1
scaler = MinMaxScaler()
df['connection'] = scaler.fit_transform(df['connection'].values.reshape(-1, 1))

# Normalize the remaining features to a range of 0 to 1
df[features] = scaler.fit_transform(df[features])

# Calculate the ranking score
df['ranking_BERT'] = df['avarage'] * df['connection']

# Normalize the ranking score to a range of 0 to 1
df['ranking_BERT'] = scaler.fit_transform(df['ranking_BERT'].values.reshape(-1, 1))

# Print the ranked candidates
print(df[['job_title', 'ranking','ranking_BERT']])

                                             job_title   ranking  ranking_BERT
0    2019 bauer college business graduate magna cum...  0.165205      0.094319
1    native english teacher epik english program korea  0.273624      0.745856
2                 aspiring human resource professional  0.116683      0.032324
3                  people development coordinator ryan  0.000000      0.774029
4         advisory board member celal bayar university  0.136236      0.548840
..                                                 ...       ...           ...
99   aspiring human resource manager graduating may...  0.211271      0.133589
100                  human resource generalist loparex  0.773300      0.839160
101           business intelligence analytics traveler  0.018782      0.053072
102                                 always set success  0.091685      0.855278
103         director administration excellence logging  0.212826      0.865002

[104 rows x 3 columns]

In [146]:
# Sort the DataFrame in ascending order based on a column
df_sorted = df.sort_values('ranking', ascending=False)

# Print the sorted DataFrame
print(df_sorted[['job_title', 'ranking','ranking_BERT']])

                                             job_title   ranking  ranking_BERT
28   aspiring human resource management student see...  1.000000      0.399975
26   aspiring human resource management student see...  1.000000      0.399975
66     human resource staffing recruiting professional  0.797249      0.743885
100                  human resource generalist loparex  0.773300      0.839160
70           human resource generalist scottmadden inc  0.729565      0.822557
..                                                 ...       ...           ...
48                  aspiring human resource specialist  0.000000      0.000000
46                 people development coordinator ryan  0.000000      0.774029
59                  aspiring human resource specialist  0.000000      0.000000
35                  aspiring human resource specialist  0.000000      0.000000
21                 people development coordinator ryan  0.000000      0.774029

[104 rows x 3 columns]

In [149]:
# Sort the DataFrame in ascending order based on a column
df_sorted = df.sort_values('ranking_BERT', ascending=False)

# Print the sorted DataFrame
print(df_sorted[['job_title', 'ranking','ranking_BERT', 'connection']])

                                             job_title   ranking  \
67                 human resource specialist luxottica  0.712848
77                    human resource generalist schwan  0.650043
103         director administration excellence logging  0.212826
102                                 always set success  0.091685
64   human resource coordinator intercontinental bu...  0.651028
..                                                 ...       ...
48                  aspiring human resource specialist  0.000000
5                   aspiring human resource specialist  0.000000
23                  aspiring human resource specialist  0.000000
59                  aspiring human resource specialist  0.000000
35                  aspiring human resource specialist  0.000000

     ranking_BERT  connection
67       1.000000         1.0
77       0.877701         1.0
103      0.865002         1.0
102      0.855278         1.0
64       0.852687         1.0
..            ...         ...
48       0.000000         0.0
5        0.000000         0.0
23       0.000000         0.0
59       0.000000         0.0
35       0.000000         0.0

[104 rows x 4 columns]